src/main/resources/registration.wsdl

<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://registrationservice.example.com/"
             xmlns:rns2="http://v2.registration.example.com/"
             xmlns:rns="http://registration.example.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://registrationservice.example.com/">
    <types>
        <xsd:schema targetNamespace="reg1">
            <xsd:import namespace="http://registration.example.com/" schemaLocation="registration.xsd"/>
        </xsd:schema>
        <xsd:schema targetNamespace="reg2">
            <xsd:import namespace="http://v2.registration.example.com/" schemaLocation="registration2.xsd"/>
        </xsd:schema>
    </types>

    <message name="registration">
        <part name="parameters" element="rns:registration"/>
    </message>
    <message name="registrationResponse">
        <part name="parameters" element="rns:registrationResponse"/>
    </message>
    <message name="registration2">
        <part name="parameters" element="rns2:registration"/>
    </message>
    <message name="registrationResponse2">
        <part name="parameters" element="rns2:registrationResponse"/>
    </message>

    <portType name="RegistrationService">
        <operation name="register">
            <input message="tns:registration"/>
            <output message="tns:registrationResponse"/>
        </operation>
    </portType>

    <portType name="RegistrationService2">
        <operation name="register2">
            <input message="tns:registration2"/>
            <output message="tns:registrationResponse2"/>
        </operation>
    </portType>

    <binding name="RegistrationServicePortBinding" type="tns:RegistrationService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="register">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <binding name="RegistrationServicePortBinding2" type="tns:RegistrationService2">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="register2">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <service name="RegistrationService">
        <port name="RegistrationServicePort" binding="tns:RegistrationServicePortBinding">
            <soap:address location="http://localhost:8080/register"/>
        </port>
        <port name="RegistrationServicePortV2" binding="tns:RegistrationServicePortBinding2">
            <soap:address location="http://localhost:8080/register"/>
        </port>
    </service>
</definitions>